.box{
   box-sizing: border-box;
   margin: 0;
}

body{
    color:#292929;
}
.parent{
    width: 400px;
    margin: 0 auto;
    background-color: #cecece;
}

.child{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height:  200px;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;;
}